media/*
plex/*
.bash*
.profile*
.ssh*
.vim*
downloads/*
.gitconfig
*.log
.DS_Store
.env
flexget/*.sqlite
transmission/*
node_modules

mnt
path
config_plex
pelis.json
flexget/db-config-jobs.sqlite
flexget/db-config.sqlite
data/var
data/log